.pad
  %h6 Website Restructuring - 6-20-2012
  Thank you for visiting SetfreebyJesus.com! We hope that you are enjoying our site - please bear with us as we do some work to make your experience better!
