.span12
  %center
    = link_to "Home", root_path
    |
    = link_to "About", home_founders_path
    |
    = link_to "Contact", home_invite_path
    |
    = link_to "Pastor Login", new_admin_session_path
