%nav.top-bar
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      - Refinery::Page.menu.each do |page|
        %li= link_to page.title, refinery.page_path(page)
        %li.divider
