.post.row.pad
  .span5.pad
    - @posts.each do |post|
      %center
        %h6.purple= link_to post.name, post
      =h truncate(post.text.html_safe, :length => 100)
      %p
      .post_footer= "Posted By: #{post.admin.username} #{post.created_at.strftime("on %m/%d/%Y")}"
