Testimonies:

We have had many testimonies of the Miracles of FAVOR that the Lord has done for our readers when they truly believed and totally EXPECTED His Prophetic Word to come to pass.  God is Faithful to perform all of His Words!  We have had over 100 reports of Favor-Miracles from readers!

 Yolanda (Texas)—“I took the 10-Day Challenge and saw many Favor-Miracles—much more that just 3... I'm gonna keep it up!”  P.S. She called back to say, "Now the Lord has given me a new car! WOW! FAVOR!"

 Joy (Georgia)—"I took the 10-Day Challenge and saw many Favor-Miracles in the first ten days...healing, deliverance, finances, auto miracle, peace & joy at work, inspiration, clarity, voice of God... Thank you, Jesus!”

 Michael (Iowa)—"I took the challenge and God has already blessed me, my family, my job, my move to a new city, new home... He is still showing me His Favor!"

 C.D. (Florida)—He believed, EXPECTED, and saw God do two huge financial Favor-Miracles for him!

 Alicia (Connecticut)—She was skeptical at first, but God showed her Favor-Miracles the very first day she tried it!

 D.C.W. (Alabama)—She believed, expected, and God gave her a new job and two Favor-Miracle promotions in short time!

 David (Louisiana)—Says he has already seen many Favor-Miracles, but is still EXPECTING many more!

 Apostle Charlie—Oral Surgery, originally quoted at $850 but discounted by doctor to $630. Insurance paid all but a $25 copay! Wow, a huge financial Favor-Miracle. (And NO Pain at all! A healing Favor-     Miracle!)

 Apostle Charlie—Shoulder surgery, miracle, quick recovery, much quicker than the expected! Healed!

 Pastor Durinda—Ovarian surgery, cyst removed, totally benign, clean, healed! Huge healing Miracle!       Only 9 days later, she flew to Korea and ministered daily in the CI Korea Prophetic Conference!

 D.M. (email)—He took the 10-Day Challenge and received 3 huge financial favors very quickly: $300,      $1,000, and $50! All gifts of FAVOR from the Lord!

 Businessman (Korea) —Said he has seen many financial Favor-Miracles since he took the Challenge!

 (Singapore)—Saw three wonderful "Favor-Miracles" very soon after he took the Challenge!

There are many, many more testimonies of God's Miracles of Favor!  Hundreds already... How about YOURS?
