%h3 Worship Times
.block
  Sunday 11:00AM
  %br
  Sunday Morning Service
  %br
  Tuesday 5:00PM
  %br
  Mid Week Service

.block
  Location:
  %br
  Set Free By Jesus
  %br
  700 3rd Ave North
  %br
  Birmingham AL 35203

.block
  Phone Numbers:
  %br
  800-71-JESUS
  %br
  (800-715-3787)
  %br
  205-672-3350

