%center
  %h3 Worship Times
.times
  .time_head
    Sunday 11:00AM
  Sunday Morning Service
  %br
  Tuesday 5:00PM
  %br
  Mid Week Service

  .time_head
    Location:
  Set Free By Jesus
  %br
  Birmingham AL 35203

  .time_head
    Phone Numbers:
  800-71-JESUS
  %br
  (800-715-3787)
  %br
  205-672-3350

