.large-4.columns.hero-text
  .text.one
    Daily prophetic word from the Lord specifically for you!
  .text.two
    We have FIVE books availableto help build your faith!
  .text.three
    Consider becoming a partnertoday and support the ministry!
.large-8.columns.hero-image
  .images
    #one.image
      = image_tag("1.png")
    #two.image
      = image_tag("2.png")
    #three.image
      = image_tag("3.png")

