Welcome to Set Free by Jesus Ministries, founded by Apostles Charlie & Dr. Durinda Warren. Jesus loves you and has a great plan for your life. He knows who you are and what you need. He wants to meet your every need, and He will speak a fresh, new, miraculous, Prophetic Word into your life today... IF you want it, Believe it & EXPECT it! (Just click on the yellow box below)
%p
Set Free by Jesus Ministries is a C.I., Prophetic, Evangelistic, Missionary Outreach to "At-Risk, Inner-City Children" in Birmingham, AL.  We have ministered the Love of Jesus to thousands of inner-city kids & worshipped Jesus together with them for 18 years... as a Jesus / Holy Spirit / Prophetic Church.
%p
Please "Partner" with us... your Prayers & Donations will help build God's Kingdom...one precious child at a time!
%p
Members--C.I.A.N./CIBN (Christian Int'l.ApostolicNetwrk / C.I. Bus.Network)
