.about_us

  .image
    = image_tag("about_us.png")    

  %h5
    %b About Apostle Charlie and Doctor Durinda Warren

  .block
    %b
      Apostle/Prophet Charlie Warren
    grew up in Pampa, Texas, and attended the University of Texas at El Paso on a football scholarship.  After graduating from the University of Texas in Austin he became an executive with several large insurance companies.  In 1980 Apostle Charlie was ordained as an evangelist and gained experience preaching, teaching, and pastoring in Federal and State prisons in Texas, Louisiana, and New Mexico.

  .block
    Apostle Charlie is the founding pastor of Set Free By Jesus Ministries located in Birmingham, Alabama.  He is also President of the real estate investment corporation J.I.L. (Jesus is Lord) Enterprises, Inc.  His investments from J.I.L. Enterprises, Inc. support his family; he takes no pay from Set Free by Jesus Ministries.

  .block
    In his 40 years of careers, Apostle Charlie has excelled as an accomplished businessman, successful entrepreneur and full-time Minister/Preacher/Apostle/Prophet for Jesus.  You can read more about Apostle Charlie Warren’s testimony in his first book, Victory in Jesus.

  .block
    %b
      Dr. Durinda Warren
    grew up in a small mining community west of Birmingham, Alabama and has loved Jesus for as long as she can remember.  She practiced as a professional nurse for 15 years before earning her Ph.D. in Health Education and Promotion from the University of Alabama at Birmingham in 2004.  Dr. Durinda is currently employed as Chief Nurse Manager of the Geriatrics Extended Care Department at the Birmingham Veteran’s Affairs Medical Center.  She is also a pastor, intercessor, prophet, wife, mother, and grandmother, ministering the love of Jesus wherever she goes.  Dr. Durinda Warren’s testimony can be found in Troubleshooting Your Faith, a book that she co-authored with her husband in 2009.

  .block
    %b
      Apostles Charlie and Dr. Durinda Warren
    were ordained together in 1989 in New Orleans.  While there they conducted faith seminars and healing encounters for several years.  Eventually relocating to Southern California, they planted and pastored a Set Free by Jesus outreach church that ministered to troubled teens, victims of addictions, and the homeless.  Then in 1991, Jesus directed them to move to Birmingham, Alabama, where they founded Set Free by Jesus Ministries and Set Free by Jesus Church—a ministry in the heart of west Birmingham dedicated to inner-city children.

  .block
    The Warrens have been married and ministering together for 25 years and during that time have continually witnessed the unconditional love of Jesus and His miraculous power through the Holy Spirit.  With six wonderful adult children and their spouses, and eight beautiful grandchildren (with many more to come), Apostle Charlie and Dr. Durinda Warren are more than blessed! 
