.pad
  %h3 Donations

  %p
  “A Seed-Faith / Kingdom Investment Opportunity In the Nations Overseas! ” -- We are returning to Africa and Asia soon ... to lead in the Ministry of  daily GOD-FAITH / Prophetic / Miracle / Jesus Crusades ... in Uganda, Kenya, Nigeria, Ghana, S. Korea, and other Nations, as the Lord opens the doors. Can you "plant a seed" to help with the Crusade Expenses?  Most of our Crusades are in Nations where the local churches cannot pay our airfare or other Crusade Expenses... but God has asked us to "Go" and Preach Jesus ... We need financial help to carry out this Ministry!  Please help us now!
  %p
  “A Seed-Faith / Kingdom Investment Opportunity In the Nations Overseas! ” -- We are returning to Africa and Asia soon ... to lead in the Ministry of  daily GOD-FAITH / Prophetic / Miracle / Jesus Crusades ... in Uganda, Kenya, Nigeria, Ghana, S. Korea, and other Nations, as the Lord opens the doors. Can you "plant a seed" to help with the Crusade Expenses?  Most of our Crusades are in Nations where the local churches cannot pay our airfare or other Crusade Expenses... but God has asked us to "Go" and Preach Jesus ... We need financial help to carry out this Ministry!  Please help us now!
  Your Love Gift of any size will be an Eternal Investment in the lives of people who are very poor, but they are very important to God. Many have lost their hope...they need to know the love of Jesus...and hear His voice!  God says, “When you give to the poor, you lend to the Lord and He will surely repay you”. So "Plant a Seed Today"!       EXPECT a 100-fold Return!
  %p
  God will multiply your "Seed Faith"!  Please help us…For a love gift of $100+ you’ll receive free copies of our 2 new GOD-FAITH books (with autographs & your personal prophecy).
  %p
  See instructions below... or E-mail us at Jilmin33@yahoo.com ... Thank you! Jesus will reward your generosity!
  %p
  *************************************************************************************
  %p
  We appreciate your donations to Set Free by Jesus Ministries
  %p
  (Every dollar of your donations goes to Ministry to the Poor... none goes to Salaries nor admin. expense.)
  %p
  You may donate "Love Gifts" to Set Free By Jesus Ministries ... by Check, Money Order, Credit / Debit Card, or Pay Pal.
  %br
  Checks, M.O. : Mail check / m.o.  payable to Set Free By Jesus Ministries, 1 Victory Lane, Sterrett, AL. 35147-9335
  %br
  Credit / Debit Card donations ...call us with info...1-800-71-Jesus (1-800-715-3787)... or Email: Jilmin33@yahoo.com
  %br
  Pay Pal donations ... call or email us for Pay Pal instructions ... (our account is   Jilmin33@yahoo.com ).
  %br
  Please indicate that your donation is for the upcoming "God-Faith / Miracle Crusades in the Nations--Overseas"
  %br
  Ask for your Free copy of our 2 new GOD-FAITH books... (signed & with your personal prophecy--$100 min.gift).
  %p
  Donate via Paypal - Thank you for your donation.
