.body_white
  %h3 Founders

  Apostle Charlie grew up in west Texas, attended U.T.E.P. on a football scholarship, then graduated from the U. Texas--Austin and became an executive with several large Insurance Companies. He was ordained as an evangelist 30 years ago and gained experience preaching, teaching, and pastoring in Federal and state prisons in Texas, Louisiana, and New Mexico. Read his testimony in our book, Victory In Jesus. He is now President of J.I.L Enterprises, Inc.(real estate investments), an accomplished businessman and successful entrepreneur.
  %p
  Dr. Durinda Warren grew up in a small mining community west of Birmingham, Alabama. Read about her testimony in Troubleshooting Your Faith. She practiced as a professional nurse for 15 years, until she and Apostle Charlie married. She earned her Ph.D. in Health Education and Promotion (2004) from the University of Alabama in Birmingham. Apostle Charlie and Durinda were ordained together in New Orleans where they conducted faith seminars and healing encounters.
  %p
  Later, they relocated to Southern California where they planted an outreach church that ministered to troubled teens, victims of addictions, and mobile homeless. Then Jesus directed them to move to Birmingham where they founded Set Free by Jesus Ministries, a ministry to Inner-City children, in the heart of the city.
  Together, they have both completed multiple Apostolic / Prophetic Training venues at Christian International Apostolic Network in Florida, and they both actively minister together in the Apostolic / Prophetic giftings.
  %p
  They have been married and ministering together for 20 years, and have witnessed the unconditional love of Jesus and His miraculous power. They have six wonderful adult children and six beautiful grandchildren with many more to come.
