.row
  .large-4.columns.hero-text
    .text.one
      Daily prophetic word from the Lord specifically for you!
    .text.two
      We have FIVE books availableto help build your faith!
    .text.three
      Consider becoming a partnertoday and support the ministry!
  .large-8.columns.hero-image
    .images
      #one
        = image_tag("1.png")
      #two
        = image_tag("2.png")
      #three
        = image_tag("3.png")

.hr

.page
  .block
    %b Set Free by Jesus Ministries, Inc.
    is a Prophetic / Apostolic travelling Ministry of Apostle Charlie and Dr. Durinda Warren.  They were the founders of an Inner-City Kids Ministry in Birmingham, AL. in 1994 and have pastored that ministry for the past 20 years.  Lately, however, they've been called the “Apostles of FAVOR” because they've seen so many "FAVOR-MIRACLES" wherever travel to minister.
  .block
    Apostle Charlie and Dr. Durinda now spend most of their ministry time traveling across the USA and the world (Korea, Nigeria, UK, Italy, Uganda, Caribbean, Costa Rica, etc.).
  .block
    (1) Prophesying what they hear the Lord saying,
  .block
    (2) Teaching Believers how to Release their own Prophetic Giftings,
  .block
    (3) Showing Believers how to "Activate the FAVOR of the Lord" in their own family,
  .block
    (4) Preaching the Good News of the Love of Jesus!
  .block
    We invite you to visit our Prophetic "Son-Rise Blog", which has a daily Personal Prophetic Word (PPW) from the Lord, just for you.  When you visit the blog, you'll learn about the "10 Day FAVOR-Miracle Challenge"!  Take the "Challenge", and
    %b you will see
    the Lord perform at least
    %b 3 Favor-Miracles
    on your behalf!
  .block
    %b Contact us
    today about
    %b inviting
    Apostle Charlie and Dr. Durinda to come speak at your church service or conference! We have a few open dates in 2014, and several good dates in 2015.  We would love to share the Prophetic Word, the Release of Favor-Miracles, and the Love of Jesus with you, your Believers, and your city!
  .block
    God Bless you...We prophesy God's Hand of FAVOR is on you right now!
    %i
      %b It's All About JESUS!

