.body_white
  %h3 Invite Us

  Invite Apostle / Prophets Charlie and Dr. Durinda to Minister In your city.
  %p
  E-mail  Print PDF
  %p
  Tuesday, 28 April 2009 19:32 Last Updated on Monday, 30 January 2012 12:08
  %p
  Apostle / Prophets Charlie and Dr. Durinda will be honored to Minister Prophetically ...  at your Ministry, Church, Home Church, Fellowship group, Bible study, or Conference.  We also conduct weekend "GOD-FAITH Prophetic Miracle Encounters", evangelistic crusades, seminars on financial planning-God's way, spiritual deliverance, and prayer counseling. Your congregation size does not matter. Holy Spirit says, "do not despise small beginnings."  We can be contacted by phone at 1-800-71-JESUS ... or by email at Jilmin33@yahoo.com.

