.ministries
  .block
    %h5
      %b Set Free by Jesus Ministries

  .block
    Set Free by Jesus Ministries is an affiliate of Christian International Apostolic Network (CIAN), under the leadership of Dr. Bill Hamon.  Apostle Charlie and Dr. Durinda have completed multiple Apostolic/ Prophetic training venues at CIAN and both actively minister together in the apostolic and prophetic giftings.  Together the Warrens provide Apostolic oversight of CIAN and Set Free by Jesus Church.

  .block
    As part of their work through Set Free by Jesus Ministries, Apostle Charlie and Dr. Durinda travel the USA and overseas (e.g., Korea, Nigeria, UK, Italy, Uganda, Caribbean, Costa Rica).  During their travels the Warrens:
  .block
    %ul
      %li Prophesy what they hear the Lord saying
      %li Teach Believers how to Release their own Prophetic Giftings
      %li Show Believers how to "Activate the FAVOR of the Lord" in their own family, and
      %li Preach the Good News of the Love of Jesus!

  .block
    In recent years Apostle Charlie and Dr. Durinda have been called the "Apostles of Favor” as they "Release the Favor of the Lord" wherever they go.  The Warrens have written five Christian Faith Books which are described and available for purchase on our Products page.

  .block
    Apostle Charlie also authors the Son-Rise Blog, which contains a daily Personal Prophetic Word (PPW) from the Lord that will help build and strengthen your faith in Jesus!

  .block
    Apostle Charlie and Dr. Durinda welcome the opportunity to come and minister at your church, your marketplace ministry, or your city!  Call 1-800-71-JESUS to schedule a date or send us a message through our Contacts page.

  .block
    %b Set Free by Jesus Church: Birmingham, Alabama

  .block
    Set Free by Jesus Church is a Bible-based missionary outreach ministry for at-risk, inner-city children in Birmingham, Alabama.  We have ministered the love of Jesus to thousands of children and worshipped the Lord with them for 21 years.  If you would like to be a part of this rewarding ministry, we would love to hear from you!  Please send us a message about your interest through our Contacts page.

  .block
    %b Destiny School and Orphanage: Kampala, Uganda

  .block
    Bishop John-Michael Mugerwa (late) and his wife, Pastor Eva Mugerwa of Saints Gate Church in Katwe, Uganda founded the Destiny School and Orphanage in Kampala, Uganda, after raising many orphaned children in their own home.  They accepted parental responsibilities for numerous children who were orphaned by the AIDS epidemic.  Many of the young men and women they parented are now pastors of new churches.

  .block
    Prior to building Destiny, over 60 children slept in Saints Gate Church every night.  Located in the hillside outside of the city, Destiny School and Orphanage has grown to over 1,500 students who are cared for, taught the Word of God, and trained to become ministers of the Gospel of Jesus Christ.

  .block
    Set Free by Jesus Ministries has been in relationship with Saints Gate Church and Destiny School and Orphanage for over 12 years.  We participated with the construction of the very first building and also participate through financial support and hands-on ministry.  Apostles Charlie and Dr. Durinda have traveled to Uganda on many occasions to minister alongside of the late Bishop John-Michael and Pastor Eva.  They try to schedule a mission trip to Destiny annually as the Lord directs.  We gladly welcome all support to help finance our next mission trip to minister to our friends at Destiny.
