.pad
  %h3 Destiny School and Orphanage: Kampala, Uganda

  %p
  Tuesday, 28 April 2009 19:34 Last Updated on Tuesday, 19 June 2012 14:18
  %p
  Bishop John-Michael and Pastor Eva Mugerwa of Saints Gate Church in Katwe founded this ministry after raising many orphaned children in their own home. They accepted parental responsibilities for numerous children who were orphaned by the AIDs epidemic. Many of the young men and women they parented are now pastors of new churches. Prior to building Destiny, over 60 children slept in Saints Gate Church every night.
  %p
  Located in the hillside outside of the city, Destiny has grown to over 1,000 students.They are cared for, taught the Word of God, and trained to become ministers of the Gospel. SFJM has been in relationship with Saints Gate Church and Destiny for nine years. We participated with the building phase of the first building. We also participate through financial support and hands-on ministry. Apostles Charlie and Dr. Durinda make annual mission trips to minister alongside of Bishop John-Michael and Pastor Eva.
  %p
  NOTE--Nov. 2011 : Apostles Charlie & Dr. Durinda were scheduled to do a Uganda Crusade ... including Prophetic Ministry and teaching "God-Faith" Clinics... for the Pastors & Ministers of Bishop John Michael Mugerwa -- in his many churches in Uganda & his Destiny Orphanage (almost 1500 children).
  %p
  We deeply regret to report that our dear Son, John Michael, was killed in a recent, fatal auto crash.  We are deeply sorrowed with his loss and we pray for his wife, Pastor Evah & the church members. The Lord is still telling us to go to Uganda in 2012, as His Apostles to Pastor Evah & this ministry!  Pastor Evah agrees. Please pray for these Precious Saints... and please help us finance a very urgent visit to minister to our friends there... they are under severe financial stress and cannot pay for the expenses of our ministry trip to their nation!

