.support
  .block
    %h5
      %b Support the Ministry
  .block
    Prophetic Friends,
  .block
    God has called us to share the Love of Jesus in Apostolic/ Prophetic/ Miracle/God-Faith/Jesus Crusades around the world. We have been to South Korea, Nigeria, Uganda, England, and Mexico. We plan to go to Kenya, Liberia, India, and Pakistan soon!  We are seeing Jesus Save lost souls, speak prophetically to Believers, heal the sick, cast out demons and do mighty miracles!
  .block
    You can plant your own seed in our Jesus Crusades by helping fund the travel expenses of our ministry to these nations.  Please pray about partnering with Set Free by Jesus Ministries monthly.
  .block
    %ul
      %li
        %b Gold Partners
      For a monthly love gift of $100 you will receive a free book and a Personal Prophetic Word monthly by email.
  .block
    %ul
      %li
        %b Silver Partners
      For a monthly love gift of $25 you will receive a Personal Prophetic Word quarterly by email.
  .block
    You can give online using the PayPal button below or you can mail your tax deductible Love Gift donations to:

  .block
    Set Free By Jesus Ministries
    %br
    1001 Kingswood Road
    %br
    Birmingham, AL 35242-6872

  .block
    May the Lord bless you abundantly for your prayers and generous Love Gifts today!  Thank you for your help!

  .block
    = "- Apostles Charlie & Dr. Durinda Warren—your  'Apostles of Favor'"

  .block
    = render "shared/paypal"

