%b Son-Rise Prophetic Blog
= "-"
Your own daily Personal Prophetic Word (PPW) from the Lord!
.block
  Take the
  %b 10 Day FAVOR-Miracle Challenge
  today!
.block
  %b Directions:
.block
  Simply ask Holy Spirit to help you choose where to start in the Son-Rise blog. Then, read only one new prophetic blog each day.
.block
  Go forward or backward daily to read the next one.  Make notes so you can find your way each day.  Read only one per day!  Let it "Soak" into your spirit.
.block
  Pay NO Attention to any dates.  Holy Spirit knows your date and when, where, what you need!
.block
  He will give you exactly what you need today...IF You Believe it & EXPECT it today!
.block
  Try it for 10 days and totally EXPECT to SEE the FAVOR of the Lord!  And you will see at least 3 "Favor Miracles" that are clearly the "Favor of the Lord" in your life within the next 10 days!
.block
  .right= link_to "View Testimonies", home_testimonies_path, :class => "button secondary"


