// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
#  background: url('bg.png') no-repeat scroll 50% 0 transparent;
#  background-color: #4C2D53;
}

.main {
  border: 1px solid black;
#  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 30px;
}

.title {
  margin: 15px;
  padding: 10px;
}

.box{
  background: #EEEEEE;
  border-radius: 5px 5px 5px 5px;
}

.pad_left {
  margin-left: 10px;
}

.pad_right {
  margin-right: 10px;
}

.inner_box {
  background: white;
  border-radius: 5px 5px 5px 5px;
  width: 80%;
  margin: 5px auto 15px auto;
  padding: 5px;
}

.block{
  margin: 15px 5px 15px 5px;
}

#worship_header {
  color: #4C2D53;
  font-weight: bold;
}

.bubble {
  background-color: #eeeeee;
}

.footer {
  margin-bottom: 30px;
}
