// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';
$purple: #4C2D53;

body{
  background: $purple;
  background: url("page_bg_img.jpg") no-repeat scroll 50% 0 $purple;
  margin-top: 10px;
}

.inline {
  display: inline-block;
}

.imgshadow {
  background:#FFFFFF;
  padding:4px;
  border:1px solid #777777;
  margin-top:5px;
  -moz-box-shadow:0px 0px 5px #666666;
  -webkit-box-shadow:0px 0px 5px #666666;
  box-shadow:0px 0px 5px #666666;
}

img {
 @extend .imgshadow;
}

.page-content{
  @include grid-row(12);
  padding: 10px 0px;
  background: white;
  border-radius: 5px;
  border: 2px solid #3a233b;
  .logo{
    font-family: 'Stoke', serif;
    font-size: 2em;
    color: $purple;
  }
  .welcome{
    color: $purple;
    font-style: italic;
    font-size: 0.8em;
  }
}

.footer-content{
  @extend .page-content;
  margin-top: 10px;
}
