// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
  background-color: #4C2D53 !important;
  background: url('page_bg.png') repeat-x scroll 50% 0 #4C2D53;
  margin-top: 20px;
}

.body_white{
  background: white;
}

.page {
  background: url('page_bg_img.jpg') no-repeat scroll 50% 0 transparent;
}

.special {
  margin-left: 1px;
  margin-top: -20px;
  background: url('logo.png') no-repeat scroll 50% 0 transparent;
}

.main {
  border: 1px solid black;
#  padding: 20px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 30px;
}

.logo {
  margin: 5px 5px 15px 0px;
  float: left;
  width: 350;
  height: 150px;
  background: #4C2D53;
}

.scripture {
  margin: 20px 20px 20px 20px;
}

.title {
  margin: 15px;
  padding: 10px;
  color: #4A85C2;
}

.box{
  background: #EEEEEE;
  border-radius: 5px 5px 5px 5px;
}

.pad {
  padding: 10px 10px 10px 10px;
}

.pad_left {
  margin-left: 10px;
}

.pad_right {
  margin-right: 10px;
}

.inner_box {
  background: white;
  border-radius: 5px 5px 5px 5px;
  width: 80%;
  margin: 5px auto 5px auto;
  padding: 5px;
}

.top{
  margin-top: 15px;
}
.bottom{
  margin-bottom: 15px;
}

.block{
  margin: 15px 5px 15px 5px;
}

#worship_times {
  background-color: #FFFFAA;
}

.times{
 margin: 20px 20px 20px 40px;
}

.purple{
  color: #930080;
}

.time_head{
  color: #930080;
  font-weight: bold;
  margin-top: 5px;
}

.bubble {
  background-color: #eeeeee;
  margin: 5px;
}

.footer {
  margin-bottom: 30px;
}

#ref {
  color: #800080;
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.imgshadow {
  background:#FFFFFF;
  padding:4px;
  border:1px solid #777777;
  margin-top:5px;
  -moz-box-shadow:0px 0px 5px #666666;
  -webkit-box-shadow:0px 0px 5px #666666;
  box-shadow:0px 0px 5px #666666;
}

