@import 'foundation';

$white: #ffffff;
$black: #000000;
$gray: gray;
$light-gray: #f6f4fa;
$yellow: #fed832;
$purple: #aa7bfc;
$dark-purple: #752fef;
$light-blue: rgba(170, 123, 252, 0.7);
$top: $white;
$bottom: $purple;
$bg: $light-gray;

body{
  background: $purple;
  background-image: linear-gradient(bottom, $bottom 50%, $top 50%);
  background-image: -o-linear-gradient(bottom, $bottom 50%, $top 50%);
  background-image: -moz-linear-gradient(bottom, $bottom 50%, $top 50%);
  background-image: -webkit-linear-gradient(bottom, $bottom 50%, $top 50%);
  background-image: -ms-linear-gradient(bottom, $bottom 50%, $top 50%);
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: $black;
  }
}

.button {
  @extend .tiny;
  @extend .radius;
}

.nopad {
  padding: 0px;
  padding-bottom: 30px;
}

.main{
  min-height: 600px;
  background: $bg;
  box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.3)
}

.footer {
  font-size: 0.8em;
  margin-top: 35px;
  margin-bottom: 85px;
}

.title-area {
  img {
    padding: 4px;
  }
}

.contact-heading, .contact-form {
  @include grid-column($columns: 6);
}

.contact-form {
  margin-top: 20px;
}

.center{
  text-align: center;
}

.hr {
  width: 100%;
  border: 3px solid $yellow;
  margin: 9px 0px;
}

.hero-text{
  padding-right: 0px;
}
.hero-image{
  padding-left: 0px;
}

.top-bar{
  height: 110px;
  background: $white;
  @extend .purple-gradient;
  .top-bar-section {
    ul {
      position: relative;
      top: 70px;
      li {
        background: transparent;
        a {
          font-size: 1.0em;
          background: transparent !important;
          color: $black;
          &:hover {
            color: $gray;
          }
        }
      }
    }
  }
}

.top-bar.expanded {
  height: auto;
  background: $white;
  .toggle-topbar{
    a {
      color: $white;
    }
  }
  .toggle-topbar.menu-icon{
    margin-top: -53px;
  }
  .top-bar-section {
    ul {
      position: relative;
      top: 0px;
      li {
        background: transparent;
        border-top: 1px solid $gray;
        a {
          font-size: 1.0em;
          background: transparent !important;
          color: $black;
          &:hover {
            color: $gray;
          }
        }
        &:hover {
          background: $yellow;
          color: $white;
          a {
            color: $white;
          }
        }
      }
    }
  }
}
.top-bar.expanded .title-area {
  height: 120px;
  background: $white;
  @extend .purple-gradient;
}

.text {
  height: 95px;
  padding: 15px;
  @extend .text-gradient;
  a {
    color: $black;
  }
}

.images{
  #two, #three{
    display: none;
  }
}

.purple-gradient {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 0%, #ac80fc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(0%,#ffffff), color-stop(100%,#ac80fc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 0%,#ac80fc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 0%,#ac80fc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 0%,#ac80fc 100%); /* IE10+ */
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 0%,#ac80fc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ac80fc',GradientType=1 ); /* IE6-9 */
}
.text-gradient{
  background: #9a8cb6; /* Old browsers */
  background: -moz-linear-gradient(top,  #9a8cb6 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9a8cb6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9a8cb6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9a8cb6 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9a8cb6 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9a8cb6 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a8cb6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.circle{
  margin-top: 5px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: $light-blue;
  padding: 0px;
  color: $white;
  a{
    color: $white !important;
  }
  .date{
    position: relative;
    top: 5px;
    text-align: center;
    .day{
      font-size: 0.9em;
    }
    .month{
      font-size: 1.2em;
      margin: -6px;
    }
    .year{
      font-size: 0.9em;
    }
  }
  .blog{
    position: relative;
    top: 23px;
    text-align: center;
  }
}

.blog-post-title {
  margin-left: 10px;
  a {
    color: $gray;
  }
  h5 a {
    color: $black;
  }
}

ul.pagination li.current a{
  background: $dark-purple;
  &:hover {
    background: $purple;
  }
}

.page {
  @include grid-column($columns: 12);
  margin: 10px 0px 30px 0px;
  padding: 0px 30px;
  .block {
    margin-top: 20px;
  }
}

.about_us {
  @extend .page;
  .image {
    float: right;
    margin: 10px;
  }
}

.products{
  @extend .page;
  .block {
    padding: 20px 0px;
  }
}

.ministries {
  @extend .page;
}

.support {
  @extend .page;
}

