.row
  .large-4.columns.center
    Copyright &#169; 2014. All Rights Reserved.
  .large-4.columns.center
    Set Free by Jesus Ministries
  .large-4.columns.center
    = link_to "Site designed by Burton MPR, LLC", "http://www.burtonmpr.com"

